@model LojaGaucha.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutoDescricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoDescricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutoPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoPreco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

    </dl>
    <hr />
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProdutoId }, new { @class = "btn btn-default" })&nbsp; &nbsp;| &nbsp; &nbsp;
    @Html.ActionLink("Voltar ao Menu", "Index", "", new { @class = "btn btn-default"})
</p>
