@model IEnumerable<LojaGaucha.Models.Produto>
@{
    ViewBag.Title = "Estoque";
}

<h2>Estoque</h2>

<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.CategoriaNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.ProdutoQuantidade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoQuantidade)
            </td>
            <td>
             
                @Html.ActionLink("Editar", "Edit", new { id = item.ProdutoId }, new { @class = "btn btn-info"} )&nbsp; &nbsp;| &nbsp; &nbsp;
                @Html.ActionLink("Detalhe", "Details", "Produto", new { id = item.ProdutoId }, new { @class = "btn btn-info" })&nbsp; &nbsp;| &nbsp; &nbsp;
                @Html.ActionLink("Adicionar Quantidade", "EditQuantidade", new { id = item.ProdutoId }, new { @class = "btn btn-info" })&nbsp; &nbsp;| &nbsp; &nbsp;
                @Html.ActionLink("Remover", "Delete", new { id = item.ProdutoId }, new { @class = "btn btn-warning" })
                
            </td>
        </tr>
    }

</table>