@model IEnumerable<LojaGaucha.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Produtos Cadastrados</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.CategoriaNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoPreco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoQuantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoImagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoDescricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoPreco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoQuantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoImagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = item.ProdutoId }, new { @class = "btn btn-info" })
            </p>
            <p>
                @Html.ActionLink("Detalhes", "Details", "Produto", new { idProduto = item.ProdutoId }, new { @class = "btn btn-info" })
            </p>
            <p>
                @Html.ActionLink("Remover", "Delete", new { id = item.ProdutoId }, new { @class = "btn btn-warning" })
            </p>
        </td>
    </tr>


}

</table>

<p>
    @Html.ActionLink("Cadastrar Produto", "Create", "", new { @class = "btn btn-default" })
</p>
