@model LojaGaucha.Models.ItemVenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutoDescricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoDescricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutoPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoPreco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProdutoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

