@model IEnumerable<LojaGaucha.Models.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}

<h2>Categorias</h2>


<table class="table table-striped table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaNome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaNome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.CategoriaId }, new { @class = "btn btn-info" })&nbsp; &nbsp; | &nbsp; &nbsp;
            @Html.ActionLink("Detalhes", "Details", new { id=item.CategoriaId }, new { @class = "btn btn-info" }) &nbsp; &nbsp; | &nbsp; &nbsp;
            @Html.ActionLink("Remover", "Delete", new { id = item.CategoriaId }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}
    
</table>
<p>
@Html.ActionLink("Cadastrar Categoria", "Create", "", new {@class = "btn btn-default" })
</p>