@model LojaGaucha.Models.Pessoa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Template.cshtml";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PessoaNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PessoaEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteSenha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteCPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteCPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteTelefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteTelefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PessoaNivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaNivel)
        </dd>

    </dl>
    <hr />
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PessoaId }, new { @class = "btn btn-default" })&nbsp; &nbsp; | &nbsp; &nbsp;
    @Html.ActionLink("Voltar ao Menu", "Index","", new { @class = "btn btn-default"})
</p>
