@model LojaGaucha.Models.Pessoa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Template.cshtml";
}
<p>
    <h2>Remover cadastro</h2>
</p>        

<h3>Deseja mesmo remover este cadastro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PessoaNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PessoaEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteSenha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteCPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteCPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteTelefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteTelefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PessoaNivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PessoaNivel)
        </dd>

    </dl>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" />&nbsp; &nbsp; | &nbsp; &nbsp;
            @Html.ActionLink("Voltar ao Menu", "Index","", new {@class = "btn btn-default" })
        </div>
    }
</div>
